<nav class="navbar navbar-expand-lg navbar-dark chef-navbar sticky-top">
  <div class="container">
    <a class="navbar-brand fw-black d-flex align-items-center gap-2" href="/">
      <span class="brand-icon">📖</span>
      <span>MVP Chef Codex</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-1">
        <li class="nav-item"><a class="nav-link" href="/">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="/recipes">Recipes</a></li>
        <li class="nav-item"><a class="nav-link" href="/runs/1">Run Detail</a></li>
        <li class="nav-item"><a class="nav-link" href="/settings">Settings</a></li>
        <li class="nav-item"><a class="btn btn-warning rounded-pill ms-lg-3 chef-button" href="/recipes/new">+ New Recipe</a></li>
      </ul>
    </div>
  </div>
</nav>
